body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header img {
    width: 150px; 
    border-radius: 50%; 
}

header h1 {
    margin-top: 10px;
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.tab{
    display: inline-block;
    margin-left: 1em;
}

table img{
    margin-left: 300px;
    width: 500px; 
    border-radius: 50%; 
}

#work-experience{
    margin-left: 100px;
}

.image-collage img{
    width: 300px; 
    border-radius: 50%;
}
